* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.hidden {
  display: none;
}

.appear {
  opacity: 0;
}

h1 {
  font-size: 3.5em;
  color: #444;
  font-weight: 200;
  margin: 0 0 50px 0;
}

h2 {
  margin: 0;
  color: #444;
  font-weight: 200;
}

p {
  color: #444;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #444;
}

a:hover {
  color: #3e51a3;
}

/* header */
.masthead {
  background-image: url("../img/hero-2.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: auto;
  position: relative;
}

.masthead-intro {
  position: absolute;
  top: 30%;
}

.masthead-intro h1 {
  margin: 0;
  margin-left: -2px;
}

.masthead-intro p {
  font-size: 1.2em;
  font-weight: 300;
  margin: 10px 0;
}

.freelance {
  margin-top: 20px;
}

.tech-stack {
  font-size: 0.95rem;
  color: #6c757d;
}

.tech-stack h5 {
  margin-bottom: 0;
}

.social-icons {
  display: inline;
}

.social-icons a {
  font-size: 1.6em;
  padding-right: 10px;
  transition: color 600ms;
}

@media (max-width: 767px) {
  .masthead-intro {
    width: 70%;
  }

  .masthead-intro p {
    font-size: 1em;
  }
}

@media (max-width: 450px) {
  .masthead {
    width: 130%;
  }

  .masthead-intro {
    width: 50%;
  }
}
