/* global styles */
* { box-sizing: border-box; }

body {
  font-family: 'Work Sans', sans-serif;
}

.hidden {
  display: none;
}

.appear {
  opacity:0;
}

h1 {
  font-size: 3.5em;
  color: #444;
  font-weight: 200;
  margin: 0 0 50px 0;
}

h2 {
  margin: 0;
  color: #444;
  font-weight: 200;
}

p {
  color: #444;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.custom-button {
  color: #444;
  transition: color 600ms;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #444;
  padding: 14px 20px;
}

.custom-button:hover {
  color: #3E51A3;
}

.masthead-intro a,
.hover-content a,
.contenthover a {
  color: #444;
  transition: color 600ms;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #444;
  padding: 14px 20px;
}

.masthead-intro a:hover,
.contenthover a:hover {
  color: #3E51A3;
}

.hover-content a:hover {
  color: #fff;
}

/* nav */
.navbar {
  font-size: 1.1em;
}

.project-name {
  padding: 15px 0;
}

.project-name a {
  text-decoration: none;
  color: #444444;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
  transition: color 600ms;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #3E51A3;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #3E51A3;
  color: #fff;
}

/* header */
.masthead {
  background-image: url('../img/hero-2.jpg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: auto;
  position: relative;
}

.masthead-intro {
  position: absolute;
  top: 30%;
}

.masthead-intro h1 {
  margin: 0;
}

.masthead-intro p {
  font-size: 1.7em;
  font-weight: 300;
  margin: 10px 0 25px;
}

/* about */
#about {
  background-color: #f6f6f6;
  padding: 80px 0;
}

/*about image swap*/
.headshot img:last-child {
  display: none;
}
.headshot:hover img:first-child {
  display: none;
}
.headshot:hover img:last-child {
  display: inline-block;
}
/*end*/

.about-keywords {
  font-size: 1.3em;
  font-weight: 300;
}

.about-keywords p {
  padding-bottom: 4px;
}

.about-keywords span {
  color: #777;
}

/* contact */
#contact {
  background-color: #f5f5f5;
  padding-bottom: 85px;
}

#send-button {
  margin-top: 10px;
  padding: 5px 10px;
}

#char-count {
  display: inline;
  float: right;
  margin-top: 10px;
}

/* footer */
#footer {
  background-color: #3E51A3;
  height: 81px;
  line-height: 78px;
}

.copyright {
  display: inline;
  color: #777;
  font-size: 0.9em;
}

.social-icons {
  display: inline;
}

.social-icons a {
  color: #777;
  font-size: 1.6em;
  padding-left: 10px;
  transition: color 600ms;
}

.social-icons a:hover {
  color: #fff;
}

/* MOBILE */

/* Landscape phones and down */
@media (max-width: 480px) {
  /*about*/
  .headshot {
    padding-bottom: 12px;
  }

  /*contact*/
  .form-group {
    margin-top: 15px;
  }

  /*footer*/
  .copyright {
    font-size: 0.7em;
  }

  .social-icons a {
    font-size: 1.4em;
  }
}

@media (max-width: 767px) {
  .masthead-intro p {
    font-size: 1.2em;
  }

  .about-keywords {
    padding-top: 10px;
  }

  #contact {
    padding-bottom: 50px;
  }

  .social-icons a {
    color: #fff;
  }
}
